@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
  --title: #1A1A1A;
  --gray: #c1c1c1;
  --header-bg: #FFDDD4;
  --text: #4A6D8C;
}

header{
  background-color: var(--header-bg);
  height: 11vh;
  display: flex;
  text-align: center; 
  align-items: center;
  justify-content: start;
}

#logo{
  width: 60px;
  margin-left: 3rem;
}

#main-form{
    max-width: 800px;
    margin: 38px auto;
}

.container-form{
  margin-top: 28px;
}

.title{
  color: var(--title);
  font-size: 1.9rem;
  margin-bottom: 22px;
  font-weight: 700;
}

.form-dados{
  display: flex;
  gap: 10px;
}

.cep{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
}

input{
  width: 100%;
  border-radius: 8px;
  height: 2.9rem;
  padding: 10px;  
  margin: 6px 0;
  border: 1px solid var(--gray);
  font-size: 16px;
}

div.button{
text-align: center;
}

button#submit-btn{
    width: 100%;
    height: 2.9rem;
    border-radius: 12px;
    background-image: linear-gradient(145deg, #FFDDD4 0%, #FFB7B2 50%, #FDC4E5 100%);
    color: var(--title);
    border: none;
    font-weight: 700;
    cursor: pointer;

    transition: transform 0.3s ease;
}

#submit-btn:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.18);
}

.texto-cep{
  margin: 5px;
  text-align: right;
}

p > a{
  text-decoration: none;
  color: var(--text);
}

p > a:hover{
  text-decoration: underline;
}